@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
/* Homepage css */
.beigeBackground {
    background-color: #f4eadb;
    font-size: 20px;
    
}

.titlePadding {
    padding-top: 20px;
    padding-bottom: 30px;
}

.blurb {
    padding: 5px; /* Reduced padding for a smaller size */
    background-color: burlywood;
    color: white;
    border-radius: 50%; /* Large border-radius to make it circular */
    margin: 5px;
    cursor: pointer; /* Indicates that the item is draggable */
    display: inline-block; /* Ensures blurbs are on the same line */
    width: 200px; /* Fixed width */
    height: 80px; /* Fixed height */
    line-height: 30px; /* Centers text vertically */
    text-align: center; /* Centers text horizontally */
    cursor: move;
}

.draggable:hover {
    background-color: brown;
    cursor: move;
}


.page-header h1 {
    font-size: 2.5em;
    margin: 0 0 10px 0; /* Add bottom margin to separate from the droppable div */
}


#droppable {
    padding: 0.5em;
    margin-left: 0; /* Remove the left margin */
}

/* Your existing CSS... */

#droppable.hovered {
    background-color: yellow;
}

#droppable.accepted {
    background-color: lightyellow;
}


.square-box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden; /* Keeps dragged items within the box */
}

.invisible {
    display: none;
}

.bodaniText{
    font-family: 'Bodani FLF';
    color: black;
}

.textLargest{
    font-size: 60px;
}

.textLarge{
    font-size: 50px;
}

.navLine{
    border-top: 3px solid #967d55;
}

/* Start Button */

.startBtn {
    background-color: #271905; /* Brown */
    border: none;
    border-radius: 12px; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.startBtn:hover {
    background-color: #3d2b1f; /* Lighter Brown */
}

/* Forward/Back Button */

#nextBtn{
    background-color: #271905; /* Brown */
}

#nextBtn:hover {
    background-color: #543c2c; /* Lighter Brown */
}

#nextBtn, #backBtn {
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    text-align:center;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
    padding: 0; /* remove padding if any */
}

#backBtn{
    background-color: gray; /* Light */
}

#backBtn:hover {
    background-color: #666666; /* Dark Gray */
}

.buttonContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 150px;
}

.buttonContainer .backBtn {
    margin-right: auto;
}

.buttonContainer .nextBtn {
    margin-left: auto;
}


.highlight {
    background-color: rgb(39, 181, 39);
    color: white;
    border-radius: 5px; /* Adjust this value to change the roundness of the corners */
    padding: 2px 5px; /* Adjust these values to change the space around the word */

  }