/* Homepage css */
.beigeBackground {
    background-color: #f4eadb;
    font-size: 20px;
    
}

.bodaniText{
    font-family: 'Bodani FLF';
    color: black;
}

.textSize{

}

.navLine{
    border-top: 3px solid #967d55;
}

/* Start Button */