{% extends "layout.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#nextBtn").click(function(){
            window.location.href = "{{lesson.next_lesson}}";
        });
        
        $("#backBtn").click(function(){
            window.location.href = "{{lesson.prev_lesson}}";
        });
        
        $(document).keydown(function(e) {
            switch(e.which) {
                case 39: // right arrow key
                    window.location.href = "{{lesson.next_lesson}}";
                    break;
                case 37: // left arrow key
                    window.location.href = "{{lesson.prev_lesson}}";
                    break;
                default: return; // exit this handler for other keys
            }
            e.preventDefault(); // prevent the default action (scroll / move caret)
        });

        let words = $('.word');
        let index = 0;

        function highlightNextWord() {
            // Remove the highlight from the current word
            if (words[index]) {
                $(words[index]).removeClass('highlight-green');
            }
            index++;
            // Add the highlight to the next word
            if (words[index]) {
                $(words[index]).addClass('highlight-green');
            } else {
                // If there are no more words, stop the interval
                clearInterval(intervalId);
            }
        }

        // Highlight the first word initially
        if (words[0]) {
            $(words[0]).addClass('highlight-green');
        }

        // Highlight the next word every 2 seconds
        let intervalId = setInterval(highlightNextWord, 2000);
        


        document.getElementById('equalsButton').addEventListener('click', function() {
            document.getElementById('conclusionButton').style.display = 'inline-block';
        });

        document.getElementById('equalsButton2').addEventListener('click', function() {
            document.getElementById('conclusionButton2').style.display = 'inline-block';
        });



    });
</script>

<div class="bodaniText">
    <div class="textLarge titlePadding">
        {{lesson.title}}
    </div>

        <div class= "textSmall">
                
            <!-- Learn 1 -->

            {% if lesson.text %}            
                {% set lines = lesson.text.split('\n') %}
                {% for line in lines %}
                    {% set words = line.split() %}
                    {% for word in words %}
                        {% if loop.index0 == 0 %}
                            <strong>{{ word }}</strong>
                        {% else %}
                            {% if word.lower() == 'conclusion' %}
                                <strong><span style="color: #3D82AB;">{{ word }}</span></strong>
                            {% elif word.lower() == 'syllogisms' %}
                                <strong>{{ word }}</strong>
                            {% elif word.lower() == 'premises' %}
                                <strong><span style="color: #55896B;">{{ word }}</span></strong>
                            {% elif word.lower() == 'terms' %}
                                <strong><span style="color: #A87456;">{{ word }}</span></strong>
                            {% else %}
                                {{ word }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <br>
                {% endfor %}

            {% endif %}



            {% if lesson.lesson_id == '1' %}
                <br>
                <span class = "premise margin20">Premise</span> <span class = "tan-button"> + </span> 
                <span class = "premise margin20">Premise</span>
                <button id="equalsButton" style="display: inline-block; white-space: nowrap;"> = </button>
                <button id="conclusionButton" style="display: none; white-space: nowrap;">Conclusion</button>
                <br><br>
                Syllogisms are central to logic, which is the study of correct patterns of reasoning. 
                <br>
                Logic is all about <strong>argument</strong> and <strong>persuasion</strong>.
                <br><br>
                To understand syllogisms, we need to understand their parts:
            {% endif %}

            {% if lesson.lesson_id == '2' %}
                <br>
                <span class = "premise textSmall margin20"> Premise (Proposition) <span class= "predicate"> Term </span></span>
                <span class = "tan-button textSmall"> + </span>
                <span class = "premise textSmall margin20"> Premise (Proposition) <span class= "predicate"> Term </span></span>
                <br><br>
                <button id="equalsButton" style="font-size:26px; inline-block; white-space: nowrap;"> = </button>
                <button id="conclusionButton" style="font-size:26px; display: none; white-space: nowrap;">Conclusion</button>
            {% endif %}


            {% if lesson.lesson_id == '2.5' %}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                                <div class = "right-align">
                                <br>
                                <span class = "premise textSmall">Premise 1: <span class= "subject"> All people</span> <span class= "copula"> are </span> <span class= "predicate"> Mortal </span></span>
                                <br><br>
                                <span class = "tan-button textSmall">+</span>
                                <span class = "premise textSmall">Premise 2: <span class= "subject"> Aristotle </span> <span class= "copula"> is </span> <span class= "predicate"> a person </span> </span>
                                <br><br>
                                <button id="equalsButton" style="font-size:26px; display: inline-block; white-space: nowrap;"> = </button>
                                <br><br>
                                <button id="conclusionButton" style="font-size:26px; display: none; white-space: nowrap;">Conclusion: <span class= "subject"> Aristotle </span> <span class= "copula"> is </span> <span class= "predicate"> Mortal </span></button>
                                </div>
                            </div>

                        <div class="col-sm-6">
                            <div class = "right-align">
                                <br>
                                <span class = "premise textSmall">Premise 3: <span class= "subject"> All animals </span> <span class= "copula"> are </span> <span class= "predicate"> kind </span></span>
                                <br><br>
                                <span class = "tan-button textSmall">+</span>
                                <span class = "premise textSmall">Premise 4: <span class= "subject"> Sam </span> <span class= "copula"> is </span> <span class= "predicate"> an animal </span> </span>
                                <br><br>
                                <button id="equalsButton2" style="font-size:26px; display: inline-block; white-space: nowrap;"> = </button>
                                <br><br>
                                <button id="conclusionButton2" style="font-size:26px; display: none; white-space: nowrap;">Conclusion: <span class= "subject"> Sam </span> <span class= "copula"> is </span> <span class= "predicate"> kind </span></button>
                            </div>
                        
                        </div>

                    </div>
                </div>
            {% endif %}

            {% if lesson.lesson_id == '3' %}
                A <span class= "term"> term </span> is either a <strong>noun, adjective, or verb, </strong> and it refers to a category of things.
                <br>
            {% endif %}


            
            {% if lesson.lesson_id == '4' %}
                A proposition involves connecting two terms, 
                a <span class= "subject"> subject </span> and a <span class= "predicate"> predicate </span>,
                <br> sometimes using a <span class= "copula"> copula </span>,  or a connector, such as “is,” “are,” “was,” or “were.”
                <br><br>
                Propositions take the form of a declarative sentence and are always <strong> true </strong> or <strong>  false </strong> 
                <br><br>
                “<span class= "subject">I</span> <span class= "copula">am</span> <span class= "predicate">hungry.</span>” is a proposition;
                “Feed me!” is not.
                <br><br>

                <button id="equalsButton" style="font-size:26px;">Click for more Examples</button>
                <button id="conclusionButton" style="font-size:26px; display: none;">
                    <span class= "subject">She</span> <span class= "copula">is</span> <span class= "predicate">jumping.</span>
                    <br><br>
                       <span class= "subject">Samantha</span> <span class= "copula">is</span> <span class= "predicate">an athletic cat.</span>
                    <br><br>
                    <span class= "subject">He</span> <span class= "copula">was</span> <span class= "predicate">sprinting quickly.</span>                
                
                </button>

            {% endif %}


            {% if lesson.image %}
                <br>
                <img src="{{ url_for('static', filename=lesson.image[0]) }}" alt="Lesson image" style="width: 900px; padding-bottom: 50px;">
            {% endif %}

            <!-- Learn 2 -->

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {{lesson.text1}}  <br>
                        {% for list in lesson.list1 %}
                            {{list}} <br>
                        {% endfor %}

                        {% if lesson.images %}
                            <img src="{{ url_for('static', filename=lesson.images[0]) }}" alt="Lesson image" style="width: 400px;">
                        {% endif %}
                    </div>

                    <div class="col-md-6">
                        {{lesson.text2}}  <br>
                        {% for list in lesson.list2 %}
                            {{list}} <br>
                        {% endfor %}
                        {% if lesson.images %}
                            <img src="{{ url_for('static', filename=lesson.images[1]) }}" alt="Lesson image" style="width: 400px;">
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if lesson.text3 %}


                {% set terms3 = ['valid', 'sound'] %} <!-- Add terms here -->
                
                {% for word in lesson.text3.split() %}
                    {% if word.lower()|contains_any(terms3) %}
                        <strong><span class="word">{{word}}</span></strong>
                    {% else %}
                        <span>{{word}}</span>
                    {% endif %}
                {% endfor %}

            {% endif %}
        </div>


</div>

<div class="buttonContainer">
    <button id="backBtn"><</button>

    <button id="nextBtn">></button>
</div>
{% endblock %}