{% extends "layout.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#nextBtn").click(function(){
            window.location.href = "{{lesson.next_lesson}}";
        });
        
        $("#backBtn").click(function(){
            window.location.href = "{{lesson.prev_lesson}}";
        });
        
        $(document).keydown(function(e) {
            switch(e.which) {
                case 39: // right arrow key
                    window.location.href = "{{lesson.next_lesson}}";
                    break;
                case 37: // left arrow key
                    window.location.href = "{{lesson.prev_lesson}}";
                    break;
                default: return; // exit this handler for other keys
            }
            e.preventDefault(); // prevent the default action (scroll / move caret)
        });

        let words = $('.word');
        let index = 0;

        function highlightNextWord() {
            // Remove the highlight from the current word
            if (words[index]) {
                $(words[index]).removeClass('highlight-green');
            }
            index++;
            // Add the highlight to the next word
            if (words[index]) {
                $(words[index]).addClass('highlight-green');
            } else {
                // If there are no more words, stop the interval
                clearInterval(intervalId);
            }
        }

        // Highlight the first word initially
        if (words[0]) {
            $(words[0]).addClass('highlight-green');
        }

        // Highlight the next word every 2 seconds
        let intervalId = setInterval(highlightNextWord, 2000);
    });
</script>

<div class="bodaniText">
    <div class="textLarge titlePadding">
        {{lesson.title}}
    </div>

        <div class= "textSmall">
                
            <!-- Learn 1 -->

            {% set lines = lesson.text.split('\n') %}
            {% for line in lines %}
                {% set words = line.split() %}
                {% for word in words %}
                    {% if loop.index0 == 0 %}
                        <strong>{{ word }}</strong>
                    {% else %}
                        {% if word.lower() == 'conclusion' %}
                            <strong><span style="color: #3D82AB;">{{ word }}</span></strong>
                        {% elif word.lower() == 'syllogisms' %}
                            <strong>{{ word }}</strong>
                        {% elif word.lower() == 'premises' %}
                            <strong><span style="color: #55896B;">{{ word }}</span></strong>
                        {% elif word.lower() == 'terms' %}
                            <strong><span style="color: #A87456;">{{ word }}</span></strong>
                        {% else %}
                            {{ word }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
            {% endfor %}



            
            

            {% if lesson.image %}
                <br>
                <img src="{{ url_for('static', filename=lesson.image[0]) }}" alt="Lesson image" style="width: 800px; padding-bottom: 50px;">
            {% endif %}

            {% if lesson.text1_1 %}
                {{ lesson.text1_1.replace('\n', '<br>')|safe }}
            {% endif %}

            {% if lesson.text2_1 %}

            {% endif %}

            <!-- Learn 2 -->

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {{lesson.text1}}  <br>
                        {% for list in lesson.list1 %}
                            {{list}} <br>
                        {% endfor %}

                        {% if lesson.images %}
                            <img src="{{ url_for('static', filename=lesson.images[0]) }}" alt="Lesson image" style="width: 400px;">
                        {% endif %}
                    </div>

                    <div class="col-md-6">
                        {{lesson.text2}}  <br>
                        {% for list in lesson.list2 %}
                            {{list}} <br>
                        {% endfor %}
                        {% if lesson.images %}
                            <img src="{{ url_for('static', filename=lesson.images[1]) }}" alt="Lesson image" style="width: 400px;">
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if lesson.text3 %}


                {% set terms3 = ['valid', 'sound'] %} <!-- Add terms here -->
                
                {% for word in lesson.text3.split() %}
                    {% if word.lower()|contains_any(terms3) %}
                        <strong><span class="word">{{word}}</span></strong>
                    {% else %}
                        <span>{{word}}</span>
                    {% endif %}
                {% endfor %}

            {% endif %}
        </div>


</div>

<div class="buttonContainer">
    <button id="backBtn"><</button>

    <button id="nextBtn">></button>
</div>
{% endblock %}