{% extends "layout.html" %}

{% block content %}


    
    <div class=" bodaniText">
        
                        
        <div class = "textLarge">
            WHAT IS A SYLLOGISM?</div>
            Here is a more precise definition of a syllogism:
 
            Syllogisms:  a specific form of argument through which we infer a conclusion on the basis of two premises,
             each of which is a proposition. 
             Syllogisms are distinguished by the fact that the two premises have exactly one term in common. 
    </div>

    <div class="buttonContainer">

    <a href="/lesson/page2"><button class="backBtn"><</button></a>
    
    <a href="/lesson/page4"><button class="nextBtn">></button></a>

    </div>



{% endblock %}