{% extends "layout.html" %}

{% block content %}

<div class="bodaniText">
    <div class="textLarge">
        BUILDING BLOCK 2: PROPOSITIONS
    </div>
    <p>A proposition involves connecting two terms,
       a <span class="highlight-blue">subject</span> and a <span class="highlight-green">predicate</span>, sometimes using
       a <span class="highlight-yellow">copula</span>, or a connector, such as “is,” “are,” “was,” or “were.”</p>
    <p>Propositions take the form of a declarative sentence and can always be true or false </p>
    <p>Example: “<span class="highlight-blue">I</span> <span class="highlight-yellow">am</span> <span class="highlight-green">hungry</span>” is a proposition; “Feed me!” is not.</p>
</div>

<div class="buttonContainer">
    <a href="/quiz/page2"><button class="backBtn"><</button></a>
    <a href="/quiz/page4"><button class="nextBtn">></button></a>
</div>

{% endblock %}
