{% extends "layout.html" %}

{% block content %}


    
    <div class=" bodaniText">
        
        
                 
        <div class = "textLarge">
            BUILDING BLOCK 1: TERMS</div>

            <p>Our syllogism definition involved <strong>terms</strong> and
                <strong>propositions.</strong> For now, lets look at <strong>terms.</strong> </p>
                
            
            <p>Terms: man, ox, runs, wins, yellow, that funny
            comedian, the book on that shelf, etc. </p>
            <p>A term is either a noun, adjective, or verb, and it refers to a category of things.</p>
    </div>
    <div class="buttonContainer">
        <a href="/"><button class="backBtn"><</button></a>
        <a href="/quiz/page2"><button class="nextBtn">></button></a>
    </div>




{% endblock %}