{% extends "layout.html" %}

{% block content %}

<div class="bodaniText">
    <div class="textLarge">BUILDING BLOCK 2: PROPOSITIONS</div>
    <p>Create three propositions using the terms and copula provided below:</p>
</div>

<div class="container">
    <div class="drop-zone" id="zone1"></div>
    <div class="drop-zone" id="zone2"></div>
    <div class="drop-zone" id="zone3"></div>
</div>

<div class="draggable-items">
    <span class="draggable" draggable="true" id="aristotle">Aristotle</span>
    <span class="draggable" draggable="true" id="is">is</span>
    <span class="draggable" draggable="true" id="a-man">a man</span>
    <span class="draggable" draggable="true" id="the-professor">The professor</span>
    <span class="draggable" draggable="true" id="lectures">lectures</span>
    <span class="draggable" draggable="true" id="i">I</span>
    <span class="draggable" draggable="true" id="am">am</span>
    <span class="draggable" draggable="true" id="hungry">hungry</span>
</div>

<div id="result"></div>

<div class="buttonContainer">
    <a href="/quiz/page3"><button class="backBtn"><</button></a>
    <a href="/quiz/page2"><button class="nextBtn">></button></a>
</div>

{% endblock %}
